---
name: "Build and publish image"

on:
  pull_request:

  push:
    tags:
      - "v*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v3

      - name: "Extract metadata for the Docker image"
        if: github.event_name == 'push' && github.ref_type == 'tag' # Only extract metadata if we push a tag
        id: metadata_extraction
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository_owner }}/devops-stack-antora

          tags: |
            type=semver, pattern=v{{ version }}

      - name: "Login to GitHub container registry"
        if: github.event_name == 'push' && github.ref_type == 'tag' # Only login if we push a tag
        uses: "docker/login-action@v1"
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: "Build and eventually push container image"
        uses: docker/build-push-action@v3
        with:
          tags: ${{ steps.metadata_extraction.outputs.tags }}
          labels: ${{ steps.metadata_extraction.outputs.labels }}
          push: ${{ github.event_name == 'push' && github.ref_type == 'tag' }} # Only push builded image if we push a tag
